@define-color bg0 #b7cdc2;
@define-color bg1 #acc2b8;
@define-color bg2 #a1b8ae;
@define-color bg3 #96aea5;
@define-color bg4 #8ba49c;

@define-color fg #0a2a38;
@define-color bd #3f6f85;

@define-color red #c96f6f;
@define-color orange #d48d6a;
@define-color yellow #dba57a;
@define-color green #5a8a80;
@define-color blue #4585a0;
@define-color purple #8f74a0;
@define-color aqua #4e9890;

@define-color black #0a1f2a;
@define-color white #e0f0e8;

@define-color grey0 #8a9e98;
@define-color grey1 #7a8e88;
@define-color grey2 #6a7e78;
