@import '../colors.css';

* {
  font-family: "Adwaita Sans", "GeistMono Nerd Font Propo", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 13px; /* Reducir ligeramente el tamaño de fuente */
}

window#waybar {
  background: @bg1;
  border: none;
  border-bottom: 2px solid @black;
  box-shadow: inset 3px 3px 3px @grey1;
}

tooltip {
  background: @black;
  border: 1px solid @black;
  border-radius: 0;
}

tooltip label {
  color: @white;
  padding: 6px 10px;
}

#workspaces {
  padding: 2px 4px;
  margin: 2px 0 0px 20px;
  color: @fg;
  background: @grey1;
  border: 2px solid @black;
}

#workspaces button {
  padding: 1px 0px;
  margin: 1px 2px;
  color: @fg;
  background-color: @bg2;
  border-width: 1px 3px 3px 1px;
  border-color: @black;
  border-radius: 0;
  min-width: 20px;
  min-height: 16px;
  transition: none;
}

#workspaces button:hover {
  background: @bg4;
  color: @fg;
  border-width: 1px 1px 1px 1px;
  border-color: @black;
  box-shadow: inherit; 
  text-shadow: inherit;
}

#workspaces button.active {
  background-color: @grey1;
  color: @black;
  border-width: 1px 1px 1px 1px;
  border-color: @black;
}

#workspaces button.urgent {
  background-color: @green;
  color: @black;
  border-color: @black;
}

#pulseaudio,
#network,
#bluetooth,
#custom-power {
  background-color: @bg0;
  color: @fg;
  padding: 1px 8px;
  margin: 4px 0px 4px 8px;
  border-style: solid;
  border-color: @black;
  border-width: 1px 3px 3px 1px;
  border-radius: 0;
}

#battery,
#temperature,
#tray,
#clock {
  background-color: @bg4;
  color: @fg;
  padding: 1px 6px;
  margin: 4px 0px 0px 8px;
  border: 2px solid @black;
  border-radius: 1;
}

#custom-power {
  margin: 4px 8px 4px 8px; 
}

#tray {
  background-color: @bg4;
  margin: 4px 0px 4px 8px;
  border: 2px solid @black;
}

#battery {
  border-width: 2px 2px 2px 0px;
  margin: 4px 0px 0px 0px;
  padding: 1px 8px; 
}

#temperature {
  padding: 1px 8px; 
  margin: 4px 0px 0px 8px;
  border-width: 2px 0px 2px 2px;
}

#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#custom-power:hover {
  background-color: @bg4;
  color: @fg;
  border-width: 1px 1px 1px 1px;
  border-color: @black;
}
