@import '../colors.css';

* {
  border: none;
  border-radius: 0px;

  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: bold;
  font-size: 14px;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: @bg0;
}

tooltip{
  background: @bg0;
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 4px;
}

#workspaces {
  padding: 0px 3px;
  margin: 0 0 0 12px;
  border-radius: 1px;
  border: 1px solid @bg0;
  color: @fg;
}

#workspaces button:not(.empty):not(.active) {
  color: @red;
}

#workspaces button {
  padding: 0px 1px;
  margin: 1px 1px;
  border-radius: 1px;
  color: @fg;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background-color: @red;
  color: @bg0;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background-color: @grey1;
  color: @bg0;
  border-radius: 1px;
  min-width: 20px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @red;
  border-radius: 5px;
  min-width: 20px;
  background-size: 400% 400%;
  transition: all 0.2s ease-in-out;
}


#temperature,
#battery,
#pulseaudio,
#network,
#clock,
#bluetooth,
#custom-power {
  background-color: @bg0;
  padding: 0 10px;
  margin: 0 0 0 12px;
  border-radius: 1px;
  border: 1px solid @bg0;
}

#temperature{
  color: @purple;
}

#custom-power{
  color: @fg;
  margin: 0 12px 0 0;
}

#pulseaudio{
  color: @orange;
}

#battery{
  color: @red;
}

#network{
  color: @aqua;
}

#bluetooth{
  color: @blue;
}

#clock{
  color: @fg;
}

#tray{
  background: @red;
}
