* {
    bg0: #282c34;
    bg1: #21252b;
    bg2: #2c313a;
    bg3: #3e4451;
    bg4: #4b5263;

    bd: #344955;
    fg: #abb2bf;

    red: #e06c75;
    orange: #d19a66;
    yellow: #e5c07b;
    green: #98c379;
    blue: #61afef;
    purple: #c678dd;
    aqua: #56b6c2;

    black: #000000;
    white: #ffffff;

    grey0: #5c6370;
    grey1: #828997;
    grey2: #abb2bf;
}
