@define-color bg0 #f7f3e8;
@define-color bg1 #e8e2da;
@define-color bg2 #dbd3c9;
@define-color bg3 #cec4b8;
@define-color bg4 #c1b5a7;

@define-color bd #a35f5f;
@define-color fg #2d3a3f;

@define-color red #d6454a;
@define-color orange #c98f5a;
@define-color yellow #d9a56a;
@define-color green #7fa57c;
@define-color blue #4f8da8;
@define-color purple #b386b0;
@define-color aqua #5aa3a3;

@define-color black #1a1f24;
@define-color white #fdf8f2;

@define-color grey0 #b5aaa0;
@define-color grey1 #8e847b;
@define-color grey2 #675f57;
